*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    min-height: 100vh;
}

.title{
    font-size: 5rem;
    font-weight: bold;
    color: white;
    padding: 1.2rem;
    text-align: center;
    background: 
    linear-gradient(to right, rgba(0,0,0,0.25), transparent 20%, transparent 80%, rgba(0,0,0,0.25)),
    darkgreen;
}

.list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0.8rem;
    background-color: rgb(0, 59, 0);
    font-size: 1.2rem;
    width: 100%;
}

.links:active, .links:link, .links:visited{
    text-decoration: none;
    color: white;
}

.links:hover{
    text-decoration: underline;
}

main{
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    border-radius: 0.5rem;
    height: 15rem;
    width: 23rem;
    border: solid darkgreen 0.2rem;
    background-color: white;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.box1::before, .box2::before, .box3::before, .box4::before, .box5::before, .box6::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 59, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.box1::before{
    content: "Matemática";
}

.box2::before{
    content: "Português";
}

.box3::before{
    content: "Geografia";
}

.box4::before{
    content: "História";
}

.box5::before{
    content: "Química";
}

.box6::before{
    content: "Física";
}

.box1:hover::before, .box2:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before{
    opacity: 1;
}

img{
    width: 100%;
    height: 100%;
}